.container {
    color: rgb(40, 136, 173);
}
.repos{
    background-image: url('https://img.freepik.com/free-vector/watercolor-background_87374-69.jpg?size=626&ext=jpg');
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
    backface-visibility: visible;
    height: 800px;
    color: rgb(40, 136, 173);
    padding-bottom: 45.5%;
}
.search{
    padding: 1%;
    border: skyblue,thick;
}
#list{
    background-image: url('https://img.freepik.com/free-vector/watercolor-background_87374-69.jpg?size=626&ext=jpg');
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
    backface-visibility: visible;
}
body{
    background-image: url('https://img.freepik.com/free-vector/watercolor-background_87374-69.jpg?size=626&ext=jpg');
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
    backface-visibility: visible;
}