img{
    border-radius:150px;
    height: 200px;
    width: 200px;
}
.searchbox{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    margin: .5px;
}
button{
    
    background-color: bisque;
    border-radius: 0.5em;
    margin-left: 0.5rem;
    text-align: center;
    color: red;

}
input{
    border-radius: 0.5rem;

}