img{
    border-radius:50px;
    height: 200px;
    width: 200px;
}

button{
    
    background-color: #04AA6D;
    border-radius: 0.3em;
    margin-left: 0.5rem;
    text-align: center;
    color: red;

}
input{
    border-radius: 0.5rem;

}