    <br>

    <form style="text-align: center; font-family: Arial, Helvetica, sans-serif;" class='searchbox'>

       <h1>
        SEARCH FOR A USER
       </h1>
        
        <br>

        <input type="text" [(ngModel)]='userName'
        name='userName'(keyup)='Profile()' class="Search">
    </form>

    <br>

    <div class="container" *ngIf='profile'>
        <div class='card info'>
            <div style="text-align: center; background-color: #04AA6D;"  class="card-header">
                {{profile.login}}
            </div>

            <div class="card-body info">
                <div class="row">
                    <div class="col-md-4">
                        <img [src]='profile.avatar_url' [title]='profile.name' class="img-responsive profileimage">
                    </div>

                    <br>

                    <div class="col-md-8">
                        <ul class="list-group">
                            <li class="list-group-item"><b>Name: </b> {{profile.name}}</li>
                            <li class="list-group-item"><b>Location: </b> {{profile.location}}</li>
                            <li class="list-group-item"><b>Created: </b> {{profile.created_at | dateCount}}</li> 
                        </ul>

                        <br>
    
                        <div class="stats">
                            <button>{{profile.followers}} followers</button>
                            <button>{{profile.following}} Following</button>
                            <button>{{profile.public_repos}} Public Repos</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div style="font-family: Arial, Helvetica, sans-serif;" class="card info" *ngIf="profile.public_repos">
            <div style="text-align: center;  background-color: #04AA6D;" class="card-header">
                Repositories
            </div>
            <div style="text-align: center;" class="card-body " *ngFor="let repo of repos">
                
                        <h3>{{repo.name}}</h3>
                        <p>Created: {{repo.created_at | dateCount}}</p>
                        <p>Language Used: {{repo.language}}</p>
                        <p>{{repo.description}}</p>
                        <button><a style="color: black;" href="{{repo.html_url}}" target="_blank" >GitHub</a></button>

                        <hr>
                    
            </div>

        </div>
