@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-image: url(./assets/detective-156961.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}